@import "tabs";
@import "donate";

// $col1-w: 94px;
// $col2-w: 56px;
// $col3-w: 66px;
// $col4-w: 56px;
// $col5-w: 56px;

$col-w: 102px, 56px, 66px, 56px, 56px, 44px;
$table-w: 380px;

$table-scroller-w: 6px;

.app {
  width: 394px;
  max-height: 600px;
  min-height: 80px;
  font-size: 11px;
  overflow-x: hidden;
}

.test {
  margin: 10px 20px;
  color: red;
}

.stock-table {
  margin: 2px 2px;
  
  .tab-table .tab-content {
    padding: 5px 4px 5px 4px;
  }
}

.stock-table-list {
  height: 310px;
  // margin-top: 2px;
  margin-bottom: -18px;
  // overflow-y: auto;
  
  .table {
    margin-bottom: 0px;
  }
  
  .table > thead > tr > th {
    padding: 7px 8px 7px 8px;
  }

  .table > tbody > tr > td {
    padding: 7px 8px 7px 8px;
  }

  .table-none {
    width: $table-w;
    height: 212px;
    font-size: 16px;
    text-align: center;

    td {
      width: $table-w;
      height: 212px;
    }
    
    &:hover {
      background-color: white;
    }
  }

  .table-loading {
    // height: 214px;
    width: $table-w;
    height: 274px;
    
    td {
      width: $table-w;
      height: 274px;
    }

    &:hover {
      background-color: white;
    }
  }

  .stock-row {
    overflow: hidden;
    width: $table-w;
  }
}

.result {
  // border: 1px solid #ccc;
  // border-radius: 2px;
  margin: 4px 0px -10px 4px;
  padding: 2px 10px 2px 10px;
  line-height: 2;

  hr {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .btn-sm {
    margin-bottom: -6px;
  }
}

.loading {
  // margin-top: 34px;
  height: 167px;
  padding-top: 70px;
  vertical-align: middle;
}

.stock-info {
  // height: 310px;
  // overflow-y: auto;
  margin: 4px 4px -10px 4px;
  padding: 2px 4px 2px 4px;
  // line-height: 2;

  hr {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .btn-sm {
    margin-bottom: -6px;
  }
  
  .table {
    margin-bottom: 0px;
  }
  
  .statistics>.table>tbody>tr>td {
    padding: 4px;
    text-align: center;
  }

  .statistics>.table>thead>tr>th {
    padding-bottom: 4px;
    text-align: center;
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.stock-up {
  color: red;
}

.stock-down {
  color: #009900;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.table-head-fixed {

  tbody {
    width: $table-w + 2;
    height: 276px;
    margin-top: -1px;
    overflow-y: auto;
    overflow-x: hidden;
    // width: 100%;
  }
  
  thead, tbody, tr {
    display: block;
  } 
}

// .col1 {
//   width: $col1-w;
// }
// .col2 {
//   width: $col2-w;
// }
// .col3 {
//   width: $col3-w;
// }
// .col4 {
//   width: $col4-w;
// }
// .col5 {
//   width: $col5-w;
// }

@for $i from 1 through 6 {
  .col#{$i} { width: nth($col-w, $i); }
  // .head-col#{$i} { width: nth($col-w, $i) - $table-scroller-w; }
}

th.col1 {
  text-align: center;
}

// .col6 {
//   padding-left: 0px !important;
// }

.final-col-time {
  margin-left: -10px;
}

.final-col-btn {
  margin-left: -2px;
}


.ghost {
  // margin-bottom: 0px;
  border-top: 1px solid #ddd; 
  border-bottom: 1px solid #ddd; 
  background: rgba(255, 255, 255, 0.8);
  vertical-align: middle;
  padding: 8px;

  .final-col-btn {
    margin-left: 10px;
  }
}

.drag-handle {
  width: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-left: -6px;
  color: #ddd;
  // cursor: n-resize;
}

.stock-name-col {
  width: 78px;
  display: inline-block;
  vertical-align: middle;
}

.stock-remove {
  color: #d9534f;
  padding-left: 0px;

  &:hover {
    color: #c9302c;
  }
}