@import "tabs";

// $col1-w: 94px;
// $col2-w: 56px;
// $col3-w: 66px;
// $col4-w: 56px;
// $col5-w: 56px;

$col-w: 102px, 56px, 66px, 56px, 56px, 40px;

$table-scroller-w: 6px;

.app {
  width: 390px;
  max-height: 200px;
  min-height: 80px;
  font-size: 11px;
}

.test {
  margin: 10px 20px;
  color: red;
}

.stock-table {
  margin: 2px 2px;
}

.stock-table-list {
  height: 310px;
  // margin-top: 2px;
  margin-bottom: -18px;
  // overflow-y: auto;
  
  .table {
    margin-bottom: 0px;
  }

  .table > thead > tr > th {
    padding: 7px 8px 7px 8px;
  }

  .table > tbody > tr > td {
    padding: 7px 8px 7px 8px;
  }

  .table-none {
    height: 212px;
    font-size: 16px;
    text-align: center;
    
    &:hover {
      background-color: white;
    }
  }

  .table-loading {
    // height: 214px;
    width: 376px;
    height: 274px;
    
    td {
      width: 376px;
      height: 274px;
    }

    &:hover {
      background-color: white;
    }
  }

  .stock-row {
    overflow: hidden;
    width: 376px;
  }
}

.result {
  // border: 1px solid #ccc;
  // border-radius: 2px;
  margin: 4px 0px -10px 4px;
  padding: 2px 10px 2px 10px;
  line-height: 2;

  hr {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .btn-sm {
    margin-bottom: -6px;
  }
}

.loading {
  // margin-top: 34px;
  height: 167px;
  padding-top: 70px;
  vertical-align: middle;
}

.stock-info {
  // height: 310px;
  // overflow-y: auto;
  margin: 4px 0px -10px 4px;
  padding: 2px 4px 2px 4px;
  // line-height: 2;

  hr {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .btn-sm {
    margin-bottom: -6px;
  }
  
  .table {
    margin-bottom: 0px;
  }
  
  .statistics>.table>tbody>tr>td {
    padding: 4px;
    text-align: center;
  }

  .statistics>.table>thead>tr>th {
    padding-bottom: 4px;
    text-align: center;
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.stock-up {
  color: red;
}

.stock-down {
  color: #009900;
}

.donate {
  height: 310px;
  margin-bottom: -18px;
  overflow-y: auto;

  .message {
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  img {
    display: block;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.table-head-fixed {

  tbody {
    height: 276px;
    margin-top: -1px;
    overflow-y:auto;
    // width: 100%;
  }
  
  thead, tbody, tr {
    display: block;
  } 
}

// .col1 {
//   width: $col1-w;
// }
// .col2 {
//   width: $col2-w;
// }
// .col3 {
//   width: $col3-w;
// }
// .col4 {
//   width: $col4-w;
// }
// .col5 {
//   width: $col5-w;
// }

@for $i from 1 through 6 {
  .col#{$i} { width: nth($col-w, $i); }
  // .head-col#{$i} { width: nth($col-w, $i) - $table-scroller-w; }
}



.ghost {
  // margin-bottom: 0px;
  border-top: 1px solid #ddd; 
  border-bottom: 1px solid #ddd; 
  background: rgba(255, 255, 255, 0.8);
  vertical-align: middle;
  padding: 8px;
}

.drag-handle {
  width: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-left: -6px;
  color: #ddd;
}

.stock-name-col {
  width: 78px;
  display: inline-block;
  vertical-align: middle;
}